{% extends 'base.html' %}

{% block title %}Clients{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Account number</th>
                    <th scope="col">Client Name</th>
                    <th scope="col">Cell number</th>
                    <th scope="col">Email</th>
                    <th scope="col">Notes</th>

                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for client in object_list %}

                    <tr>
                        <th scope="row">{{ client.acct_number }}</th>
                        <td>{{ client.name }}</td>
                        <td>{{ client.cell_phone }}</td>
                        <td>{{ client.email }}</td>
                        <td>{{ client.notes }}</td>

                        <td>
                            <a type="button" class="btn btn-primary" href="{% url 'client_detail' client.pk %}">View<i
                                    class="far fa-eye"></i></a>
                            <a type="button" class="btn btn-success" href="{% url 'client_edit' client.pk %}">Edit<i
                                    class="fas fa-edit"></i></a>
                            <a type="button" class="btn btn-danger" href="{% url 'client_delete' client.pk %}">Delete<i
                                    class="far fa-trash-o"></i></a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
